# Folder sampah (JANGAN DIUPLOAD)
node_modules/
frontend/node_modules/
backend/node_modules/
.DS_Store

# File Hasil Build
dist/
build/

# File Rahasia (Password database dll)
.env
backend/.env
frontend/.env